{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="register-wrapper d-flex">

    <!-- COLONNE GAUCHE FIXE -->
    <div class="login-left">
        <img src="{{ asset('images/convictions.webp') }}" class="login-image" alt="branche de mimosa">
    </div>

    <!-- COLONNE DROITE FLEXIBLE -->
    <div class="login-right">
        <div class="login-form-container form-container">
            <h1 class="login-title">Connexion</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form method="post">
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                <div class="mb-3">
                    <label for="username" class="form-label">Adresse email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" autofocus>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password">
                </div>

                <button class="btn btn-register" type="submit">Se connecter</button>
            </form>

            <p class="register-login-link text-center mt-3">
                <a href="{{ path('app_register') }}">Pas encore de compte ? S'inscrire</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
