{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Green Goodies{% endblock %}

{% block body %}
    {# SECTION BIENVENUE (HERO) #}
    <!-- HERO -->
    <section class="hero-section">
        <div class="row g-0">
            <!-- Colonne gauche : texte centré verticalement -->
            <div class="col-md-6 d-flex justify-content-center align-items-center hero-left">
                <div class="hero-text-block d-flex flex-column">
                    <h1 class="hero-title">Bienvenue</h1>

                    <p class="hero-text">
                        Découvrez notre univers de produits durables et éthiques pour une consommation responsable
                    </p>

                    <p class="hero-text">
                        Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter
                    </p>
                </div>
            </div>
            <!-- Colonne droite : image -->
            <div class="col-md-6 hero-right hero-image-wrapper">
                <img src="{{ asset('images/hero.webp') }}" 
                    alt="Image d’accueil" 
                    class="hero-img">
            </div>
        </div>
    </section>

    {# SECTION PRODUITS #}
    <section class="products">
        <h2 id="nos-produits" class="section-title">NOS PRODUITS</h2>
        <div class="row g-0">
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card flex-fill">
                        <img src="{{ asset('images/products/' ~ product.picture) }}" 
                            class="card-img-top" 
                            alt="{{ product.name }}">
                        <div class="card-body text-center">
                            <h3 class="card-title">{{ product.name }}</h3>
                            <p class="card-text">{{ product.shortDescription }}</p>
                            <p class="card-text">
                                <small class="gg-price">
                                    {{ product.price|number_format(2, '.', ' ') }}€
                                </small>
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{{ path('app_product_show', {'id': product.id}) }}" 
                            class="gg-card-link">
                            Voir le produit
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    {# SECTION VALEURS #}
    <section class="values-section">
        {# BLOC 1 — NOTRE CONVICTION #}
        <div class="values-block bg-beige d-flex">
            <div class="col-6 d-flex align-items-end">
                <div class="values-text-block values-text-left">
                    <h2 class="section-title">NOTRE CONVICTION</h2>
                    <p>
                        Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique.
                    </p>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-end">
               <div class="values-img-wrapper">
                    <img src="{{ asset('images/convictions.webp') }}" alt="Notre conviction" class="values-img-right">
                </div>
            </div>
        </div>
        {# BLOC 2 — NOS VALEURS #}
        <div class="values-block bg-green d-flex">
            <div class="col-6 d-flex justify-content-start">
                <div class="values-img-wrapper">
                    <img src="{{ asset('images/valeurs.webp') }}" alt="Nos valeurs" class="values-img-left">                     
                </div>
            </div>
            <div class="col-6 d-flex align-items-end justify-content-end">
                <div class="values-text-block values-text-right">
                    <h2 class="section-title">NOS VALEURS</h2>
                    <p>
                        Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité.<br>
                        Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques.<br>
                        Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
